/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 5.6rem;
    --nav-width: 219px;
  
    /*========== Colors ==========*/
    --first-color: #f76307;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #F9F6FD;
    --container-color: #FFFFFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 1.2rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-fixed: 100;
}
   
/*========== BASE ==========*/

/* *, ::before, ::after {
    box-sizing: border-box;
  } */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
  
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    width: 100%;
}
h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}
/* .container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
} */
  
  /*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}
  
.header_contenedor {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_cliente {
    text-align: right;
}

.header_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
  
.header_logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
}
  
.header_search {
    display: flex;
    padding: .40rem .75rem;
    background-color: var(--first-color-light);
    border-radius: .25rem;
}
  
.header_input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}
  
.header_input::placeholder {
    font-family: var(--body-font);
    color: var(--text-color);
}
  
.header_icon, 
.header_toggle {
    font-size: 1.2rem;
}
  
.header_toggle {
    color: var(--title-color);
    cursor: pointer;
}

/* NAVEGACION */
.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 3rem;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    scrollbar-width: none; /* para mozilla*/
}

.nav_container::-webkit-scrollbar {
    display: none; /* para google y otros */
}

.nav_logo {
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.nav_list,
.nav_items {
    display: grid;
}

.nav_list {
    row-gap: 2.5rem;
}

.nav_items {
    row-gap: 1.5rem;
}

.nav_subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-color-light);
}

.nav_link {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav_name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav_logout {
    margin: 0 0 1rem;
}

/* dropdown */
.nav_dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.nav_dropdown-collapse {
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top: 1rem;
}

.nav_dropdown-content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav_dropdown-item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.nav_dropdown-item:hover {
    color: var(--first-color);
}

.nav_dropdown-icon {
    margin-left: auto;
    transition: .4s;
}

/* mostrar dropdown */
.nav_dropdown:hover {
    max-height: 100rem;
}

.nav_dropdown:hover .nav_dropdown-icon {
    transform: rotate(180deg);
}

/*mostrar menu */
.show-menu {
    left: 0;
}

/*active*/
.active {
    color: var(--first-color);
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
    .header_datos {
        display: none;
    }
}
@media (max-width: 320px) {
    .header_search {
        width: 70%;
    }
}

@media (min-width: 768px) {
    body {
        padding: 1rem 3rem 1rem 8rem;
    }
    .header {
        padding: 0 3rem 0 8rem;
    }
    .header_search {
        width: 300px;
        padding: .55rem .75rem;
    }
    .header_toggle {
        display: none;
    }
    .header_logo {
        display: block;
    }
    .header_info {
        order: 1;
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .nav {
        left: 0;
        padding: 1.2rem 2.5rem 0;
        width: 68px; /* Reduced navbar */
    }
    .nav_items {
        row-gap: 1.7rem;
    }
    .nav_icon {
        font-size: 1.8rem;
    }
    
    /* Element opacity */
    .nav_logo-name, 
    .nav_name, 
    .nav_subtitle, 
    .nav_dropdown-icon {
        opacity: 0;
        transition: .3s;
    }
      
      
    /* Navbar expanded */
    .nav:hover {
        width: var(--nav-width);
    }
      
    /* Visible elements */
    .nav:hover .nav_logo-name {
        opacity: 1;
    }
    .nav:hover .nav_subtitle {
        opacity: 1;
    }
    .nav:hover .nav_name {
        opacity: 1;
    }
    .nav:hover .nav_dropdown-icon {
        opacity: 1;
    }
}

/* seccion cliente */
.cliente {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem 9rem 0 1rem;
    background-color: #25D366;
}
.wrapper {
    background-color: #ECF0F3;
    box-shadow: 0 1rem 2rem rgba(31, 38, 135, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
}

.social_icons a {
    background-color: #ecf0f3;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 5px #ceced1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
}

.wrapper .img_area {
    margin: 0 auto;
    background-color: #e06b11;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 5px #ceced1;
}

.wrapper .img_area {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_area .inner_area {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 50%;
}
.inner_area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 2.3rem;
    font-weight: 500;
    color: #31344b;
    margin: 1rem 0 .5rem 0;
}

.about {
    font-weight: 400;
    color: #44476a;
    font-size: 1.6rem;
}
.description {
    font-size: 1.2rem;
    text-align: center;
    margin: .5rem 0;
}
.rol {
    font-size: 1.5rem;
    color: #716e75;
    font-weight: 900;
}

.social_icons {
    margin: 15px 0 25px 0;
}

.social_icons a {
    height: 40px;
    width: 40px;
    display: inline-flex;
    margin: 0 .5rem;
    border-radius: 50%;
    position: relative;
}

.social_icons a:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ECF0F3;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 5px #ceced1;
}

.social_icons a i {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    position: relative;
    z-index: 5;
}

.social_icons a.yt i {
    color: #FF0000;
}
.social_icons a.what i {
    color: #25D366;
} 

.icon {
    margin-left: 21rem;
}

.wrapper .icon i {
    font-size: 2.3rem;
    color: #e74c3c;
}

/* seccion vendedores MQ */
@media (max-width: 768px) {
    .cliente {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .cliente {
        grid-template-columns: repeat(1, 1fr);
    }
    
} /*arreglar el enlace de ir a producto vendedor */

/* productos del vendedor */
.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.galeria_content {
    width: 20%;
    margin: 1.5rem;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #f2f2f2;
    transition: .4s;
}

.galeria_content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.galeria_img {
    width: 20rem;
    height: 20rem;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.galeria_tipo {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    color: #7f7f7f;
}

.galeria_marca {
    font-size: 2rem;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
.galeria_descripcion {
    text-align: center;
    color: #b2bec3;
    padding: 0 8px;
}

.galeria_cantidad {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    color: #44476a;
}
.galeria_precio {
    font-size: 2.6rem;
    text-align: center;
    color: #222f3e;
    margin: 1rem 0;
}

.btn_buy {
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    width: 100%;
    padding: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: .5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ff9f43;
}

/*MQ responsive*/
@media (max-width: 1000px) {
    .galeria_content {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .galeria_content {
        width: 100%;
    }
}

/*form actualizar datos */

.form {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container {
    width: 80%;
    height: 75vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #d8d8d8d7;
    padding: 1rem;
}

.form_image img {
    width: 31rem;
}

.form_contenido {
    width: 60%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 3rem;
}

.form_header {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_header h1::after{
    content: "";
    display: block;
    width: 25rem;
    height: 0.3rem;
    background-color: #f76307;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.form_photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input_box input,
.input_box select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000049;

}

.input_box input:hover {
    background-color: #eeeeee75;
}

.input_box input:focus-visible,
.input_box select:focus-visible {
    outline: 1px solid #f76307;
}

.input_box label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000c0;
}

.input_box input::placeholder,
.input_box select::placeholder {
    color: #000000be;
}

.form_btn button{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
    border: none;
    background-color: #f76307;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.form_btn button:hover {
    background-color: #f76307d9;
    transition: .7s;
}

.form_btn button a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFFFFF;
}

@media (max-width: 1330px) {
    .form_image {
        display: none;
    }
    .form_container {
        width: 50%;
    }
    .form_contenido {
        width: 100%;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .form_container {
        width: 90%;
        height: auto;
    }
    .input_group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 40rem;
        padding-right: 5rem;
    }
}